# Exercise 1.1
1. (a) Read employees.csv file (file given in LMS)

In [19]:
import pandas as pd
data = pd.read_csv(r'D:\Malathi\EDA\employees.csv')

2. (b) Find the number of non-null values in each column present.

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

3. (c) Remove the rows containing null values from the non-numeric columns.

In [25]:
data = data.dropna(subset = ['First Name', 'Gender', 'Senior Management', 'Team'])
data.count()

First Name           764
Gender               764
Start Date           764
Last Login Time      764
Salary               764
Bonus %              764
Senior Management    764
Team                 764
dtype: int64

4. (d) Find out the columns containing only numeric values.

In [26]:
data.dtypes

First Name            object
Gender                object
Start Date            object
Last Login Time       object
Salary                 int64
Bonus %              float64
Senior Management     object
Team                  object
dtype: object

5. (e) Create a pandas dataframe containing count, min value, max value, mean, standard deviation for those columns containing numeric values alone.

In [32]:
data_des = data.describe()

In [34]:
datades = data_des.drop(["25%", "50%", "75%"], axis = 0)
datades

              Salary     Bonus %
count     764.000000  764.000000
mean    90433.196335   10.148041
std     32864.665282    5.608733
min     35013.000000    1.015000
max    149908.000000   19.944000